.Main
  .Main__header
    .Main__header__nav
      %h1 エンジニアのための本
      %ul.menu
        %li 
          フロントエンド
          %ul.sub
            %li
              = link_to "①HTML", card_category_path(:card_id ,1)
            %li
              = link_to "②CSS", card_category_path(:card_id, 2)
            %li
              = link_to "③Javascript", card_category_path(:card_id, 3)
        %li
          バックエンド
          %ul.sub
            %li
              = link_to "④Java", card_category_path(:card_id, 4)
            %li
              = link_to "⑤PHP", card_category_path(:card_id, 5)
            %li
              = link_to "⑥Python", card_category_path(:card_id, 6)
            %li
              = link_to "⑦Ruby", card_category_path(:card_id, 7)
        = form_with(url: search_cards_path, local: true, class: "search-top") do |f|
          = f.text_field :keyword, placeholder: "検索", class: "search-top"
          = f.submit "検索", class: "search-top"
