.Main
  .Main__header
    .Main__header__nav
      %h1 エンジニアのための本
      %ul
        %li
        = link_to "#", class: "category" do
          フロントエンド
        %li
        = link_to "#", class: "category" do
          バックエンド
        %li
        = link_to "#", class: "category" do
          その他
          
  .Main__body
    .Main__body__left
      .Main__body__left__top
        フロントエンド
      .Main__body__left__text
        WebサービスやWebアプリケーションで直接ユーザーの
        %br 目に触れる部分のことです。
        フロントエンドの開発で利用する言語は主に、
        HTMLやCSS,JavaScriptです。

    .Main__body__right
      .Main__body__right__top
        バックエンド
      .Main__body__right__text
        サーバーサイドやデータベースのシステムなど、ユーザーの目に見えない部分のことです。
        %br バックエンドの開発で利用する言語には、JavaやJavaScript、PHP、Python、Rubyといったプログラミング言語があります。

/フロントエンド、バックエンドの説明まで

.Content
  .Content__like
    %h2 オススメ一覧
    .Content__like__fend
      フロントエンド編
      %ul
        %li
        = link_to "https://www.amazon.co.jp/%E3%83%95%E3%83%AD%E3%83%B3%E3%83%88%E3%82%A8%E3%83%B3%E3%83%89%E3%82%A8%E3%83%B3%E3%82%B8%E3%83%8B%E3%82%A2%E3%81%AE%E3%81%9F%E3%82%81%E3%81%AE%E7%8F%BE%E5%9C%A8%E3%81%A8%E3%81%93%E3%82%8C%E3%81%8B%E3%82%89%E3%81%AE%E5%BF%85%E9%A0%88%E7%9F%A5%E8%AD%98-%E6%96%89%E8%97%A4-%E7%A5%90%E4%B9%9F/dp/4839956758/ref=sr_1_3?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&crid=1GAKYYM6XYAJK&dchild=1&keywords=%E3%83%95%E3%83%AD%E3%83%B3%E3%83%88%E3%82%A8%E3%83%B3%E3%83%89%E3%82%A8%E3%83%B3%E3%82%B8%E3%83%8B%E3%82%A2&qid=1607600036&sprefix=%E3%83%95%E3%83%AD%E3%83%B3%E3%83%88%E3%82%A8%E3%83%B3%E3%83%89%2Caps%2C302&sr=8-3", class: "category-book" do
          = image_tag "front1.jpg", class: "img"
        %li
        = link_to "https://www.amazon.co.jp/1%E5%86%8A%E3%81%A7%E3%81%99%E3%81%B9%E3%81%A6%E8%BA%AB%E3%81%AB%E3%81%A4%E3%81%8FHTML-CSS%E3%81%A8Web%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E5%85%A5%E9%96%80%E8%AC%9B%E5%BA%A7-Mana/dp/4797398892/ref=sr_1_7?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&crid=3B6FPFNLZSSPV&dchild=1&keywords=%E3%83%95%E3%83%AD%E3%83%B3%E3%83%88%E3%82%A8%E3%83%B3%E3%83%89%E3%82%A8%E3%83%B3%E3%82%B8%E3%83%8B%E3%82%A2&qid=1607607263&sprefix=%E3%83%95%E3%83%AD%E3%83%B3%E3%83%88%E3%82%A8%E3%83%B3%E3%83%89%2Caps%2C384&sr=8-7", class: "category-book" do
          = image_tag "front2.jpg", class: "img"
        = link_to "https://www.amazon.co.jp/dp/4797383585?tag=technote012-22&linkCode=ogi&th=1&psc=1", class: "category-book" do
          = image_tag "front3.jpg", class: "img"
