.Main
  .Main__header
    .Main__header__nav
      %h1 エンジニアのための本
      %ul
        %li
        = link_to "#", class: "categorys" do
          フロントエンド
        %li
        = link_to "#", class: "categorys" do
          バックエンド
        %li
        = link_to "#", class: "categorys" do
          その他
        = form_with(url: search_cards_path, local: true, method: :get, class: "search") do |f|
          = f.text_field :keyword, placeholder: "検索", class: "search"
          = f.submit "検索", class: "search"
          
  .Main__body
    .Main__body__left
      .Main__body__left__top
        フロントエンド
      .Main__body__left__text
        WebサービスやWebアプリケーションで直接ユーザーの
        %br 目に触れる部分のことです。
        フロントエンドの開発で利用する言語は主に、
        HTMLやCSS,JavaScriptです。
    .Main__body__left
      .Main__body__left__top
        バックエンド
      .Main__body__left__text
        サーバーサイドやデータベースのシステムなど、ユーザーの目に見えない部分のことです。
        %br バックエンドの開発で利用する言語には、JavaやJavaScript、PHP、Python、Rubyといったプログラミング言語があります。

/フロントエンド、バックエンドの説明まで

.Content
  .Content__like 
    %h2 オススメ一覧
    .Content__like__end
      フロントエンド編
      %ul.Content__like__end__ul
        %li
        = link_to "https://amazon.co.jp/dp/4839956758/", class: "categorys-book" do
          = image_tag "recommended/front1.jpg", class: "img"
        %li
        = link_to "https://amazon.co.jp/dp/4797398892/", class: "categorys-book" do
          = image_tag "recommended/front2.jpg", class: "img"
        %li
        = link_to "https://amazon.co.jp/dp/4797383585", class: "categorys-book" do
          = image_tag "recommended/front3.jpg", class: "img"
    .Content__like__end
      バックエンド編
      %ul.Content__like__end__ul
        %li
        = link_to "https://amazon.co.jp/dp/4297114623", class: "categorys-book" do
          = image_tag "recommended/back1.jpg", class: "img"
        %li
        = link_to "https://amazon.co.jp/dp/4295003867", class: "categorys-book" do
          = image_tag "recommended/back2.jpg", class: "img"
        %li
        = link_to "https://amazon.co.jp/dp/B07Z63J7Z4", class: "categorys-book" do
          = image_tag "recommended/back3.jpg", class: "img"

.Data
  .Data__categorys
    %h2 登録データ一覧
    .Data__categorys__category
      .Data__categorys__category__id
        ID
      .Data__categorys__category__title
        Title
      .Data__categorys__category__language
        Language
  .Data__table
  - @cards.each do |card| #データを一つずつ取り出す
    .Data__table__list
      .Data__table__list__id
        = card.id
      .Data__table__list__title
        = card.title
      .Data__table__list__language
        = card.language
      .Data__table__list__btn
        = link_to "編集", edit_card_path(card.id), method: :get
      .Data__table__list__btn
        = link_to "削除", card_path(card.id), method: :delete
      
.New
  .New__book
    = link_to "新しい本の追加", new_card_path, method: :get

