.Main
  .Devise
    - if user_signed_in?
      = link_to "ログアウト", destroy_user_session_path, method: :delete
      = link_to "投稿する", new_card_path
    - else
      = icon("fas", "sign-in-alt")
      = link_to "ログイン", new_user_session_path
      = link_to "新規登録", new_user_registration_path
  .Main__header
    .Main__header__nav
      %h1 エンジニアのための本
      .hamburger
        %span
        %span
        %span
      %nav.nav-button
        %ul.menu
          %li 
            フロントエンド
            %ul.sub
              %li
                = link_to "①HTML", card_category_path(:card_id ,1)
              %li
                = link_to "②CSS", card_category_path(:card_id, 2)
              %li
                = link_to "③JavaScript", card_category_path(:card_id, 3)
          %li
            バックエンド
            %ul.sub
              %li
                = link_to "④Java", card_category_path(:card_id, 4)
              %li
                = link_to "⑤PHP", card_category_path(:card_id, 5)
              %li
                = link_to "⑥Python", card_category_path(:card_id, 6)
              %li
                = link_to "⑦Ruby", card_category_path(:card_id, 7)
          = form_with(url: search_cards_path, local: true, method: :get, class: "search-top") do |f|
            = f.text_field :keyword, placeholder: "検索", class: "search-top"
            = f.submit "検索", class: "search-top"
  .Main__body
    .Main__body__left
      .Main__body__left__top
        フロントエンド
      .Main__body__left__text
        WebサービスやWebアプリケーションで直接ユーザーの
        %br 目に触れる部分のことです。
        フロントエンドの開発で利用する言語は主に、
        HTMLやCSS,JavaScriptです。
    .Main__body__left
      .Main__body__left__top
        バックエンド
      .Main__body__left__text
        サーバーサイドやデータベースのシステムなど、ユーザーの目に見えない部分のことです。
        %br バックエンドの開発で利用する言語には、JavaやJavaScript、PHP、Python、Rubyといったプログラミング言語があります。

//フロントエンド、バックエンドの説明まで

.Content
  .Content__like
    %h2 オススメ一覧
    .Content__like__end
      フロントエンド編
      //swiperの実装
      .Content__like__end__container.swiper-container
        .Content__like__end__container__wrapper.swiper-wrapper
          .Content__like__end__container__wrapper__slide.swiper-slide
            = link_to "https://amazon.co.jp/dp/4839956758/", class: "categorys-book" do
              = image_tag "recommended/front1.jpg", class: "img"
          .Content__like__end__container__wrapper__slide.swiper-slide
            = link_to "https://amazon.co.jp/dp/4797398892/", class: "categorys-book" do
              = image_tag "recommended/front2.jpg", class: "img"
          .Content__like__end__container__wrapper__slide.swiper-slide
            = link_to "https://amazon.co.jp/dp/4797383585", class: "categorys-book" do
              = image_tag "recommended/front3.jpg", class: "img"
        // pagination,buttonの色を青から白に変更
        .Content__like__end__prev.swiper-button-prev.swiper-button-white 
        .Content__like__end__next.swiper-button-next.swiper-button-white
        .Content__like__end__pagination.swiper-pagination.swiper-pagination-white

    .Content__like__end
      バックエンド編
      //swiperの実装
      .Content__like__end__container.swiper-container
        .Content__like__end__container__wrapper.swiper-wrapper
          .Content__like__end__container__wrapper__slide.swiper-slide
            = link_to "https://amazon.co.jp/dp/4297114623", class: "categorys-book" do
              = image_tag "recommended/back1.jpg", class: "img"
          .Content__like__end__container__wrapper__slide.swiper-slide
            = link_to "https://amazon.co.jp/dp/4295003867", class: "categorys-book" do
              = image_tag "recommended/back2.jpg", class: "img"
          .Content__like__end__container__wrapper__slide.swiper-slide
            = link_to "https://amazon.co.jp/dp/B07Z63J7Z4", class: "categorys-book" do
              = image_tag "recommended/back3.jpg", class: "img"
        // pagination,buttonの色を青から白に変更
        .Content__like__end__prev.swiper-button-prev.swiper-button-white 
        .Content__like__end__next.swiper-button-next.swiper-button-white
        .Content__like__end__pagination.swiper-pagination.swiper-pagination-white

.Data
  .Data__categorys
    %h2 登録データ一覧
    .Data__categorys__category
      .Data__categorys__category__id
        ID
      .Data__categorys__category__title
        Title
      .Data__categorys__category__language
        Language
  = render partial: "card"

.Pagenation
  = paginate @cards

.New
  .New__book
    = link_to "新しい本の追加", new_card_path

