.Search-main
  .Search-main__top
    = form_with(url: search_cards_path, local: true, method: :get, class: "Search-main__top__form") do |f|
      = f.text_field :keyword, placeholder: "検索", class: "Search-main__top__form__input"
      = f.submit "検索", class: "Search-main__top__form__btn"
  .Search-main__result
    = "「#{@keyword}」の検索結果"

= render partial: "card"

= render partial: "top"
        