.Show
  .Show__main
    = "「#{@card.title}」の詳細"
  .Show__contents
    .Show__contents__list
      = icon("fas", "book-reader")
      ID
    .Show__contents__column
      = @card.id
    .Show__contents__list
      = icon("fas", "book-reader")
      言語
    .Show__contents__column
      = @card.language
    .Show__contents__list
      = icon("fas", "book-reader")
      タイトル
    .Show__contents__column
      = @card.title
    .Show__contents__list
      = icon("fas", "book-reader")
      著者
    .Show__contents__column
      = @card.author
    .Show__contents__list
      = icon("fas", "book-reader")
      価格
    .Show__contents__column
      = @card.price
    .Show__contents__list
      = icon("fas", "book-reader")
      出版日
    .Show__contents__column
      = @card.releasedate
    .Show__contents__list
      = icon("fas", "book-reader")
      コメント
    .Show__contents__column
      = @card.memo

=  render partial: "top"


