.Show
  .Shoaw__main
    = "「#{@card.title}」の詳細"
    .Show__main__contents
      .Show__main___contents__list
        ID
        .Show__main___contents__list__column
          = @card.id
      .Show__main___contents__list
        言語
        .Show__main___contents__list__column
          = @card.language
      .Show__main___contents__list
        タイトル
        .Show__main___contents__list__column
          = @card.title
      .Show__main___contents__list
        著者
        .Show__main___contents__list__column
          = @card.author
      .Show__main___contents__list
        価格
        .Show__main___contents__list__column
          = @card.price
      .Show__main___contents__list
        出版日
        .Show__main___contents__list__column
          = @card.releasedate
      .Show__main___contents__list
        コメント
        .Show__main___contents__list__column
          = @card.memo


