.Table
  .Table__title
    = "「#{@category.name}」の登録一覧"
  .Table__lists
    .Table__lists__list
      - @cards.each do |card|
        .Table__lists__list__title
          = link_to "#{card.title}", card_path(card.id)
        .Table__lists__list__btn
          = link_to "編集", edit_card_path(card.id)
        .Table__lists__list__btn
          = link_to "削除", card_path(card.id), method: :delete

.Return
  .Return__btn
    = link_to "トップページに戻る", root_path